<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" ios="images" md="images"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let image of images">
      <img [src]="image.url" alt="{{ image.caption }}" />
      <ion-card-content>
        {{ image.caption }}
      </ion-card-content>
    </ion-card>
</ion-content>
