<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
      <ion-title size="large">Welcome Back!</ion-title>
      <p> Login to access your account</p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="ion-padding">
          <ion-item>
            <ion-input placeholder="E-mail" formControlName="email" type="email" required></ion-input>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" type="password" formControlName="password" required></ion-input>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-item>
        </div>
        <ion-button expand="full" shape="round" type="submit" [disabled]="loginForm.invalid" id="open-loading">Login</ion-button>
        <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="3000"></ion-loading>
        <div class="header">
          <p>Don't have an acoount?<a [routerLink]="['/register']"><b>Register</b></a></p>
        </div>
      </form>
</ion-content>
