<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Travel Diary</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" ios="book-outline" md="book-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Add a Photo</ion-label>
      <ion-input type="file" (change)="uploadPhoto($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Add Notes</ion-label>
      <ion-textarea rows="4" [(ngModel)]="diaryEntry"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button expand="full" shape="round" (click)="saveDiaryEntry()">Save Entry</ion-button>

    <ion-list-header>Previous Entries</ion-list-header>
    <ion-list *ngIf="previousEntries.length > 0">
      <ion-item *ngFor="let entry of previousEntries">
        {{ entry.date | date: 'dd/MM/yyyy' }} - {{ entry.content }}
      </ion-item>
    </ion-list>

</ion-content>