<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" ios="notifications" md="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="readNotification()" *ngFor="let notification of notifications">
      <ion-icon [name]="notification.icon" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ notification.title }}</h2>
        <p>{{ notification.message }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

