<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" ios="settings" md="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      General Settings
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Language</ion-label>
        <ion-select slot="end">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="es">Spanish</ion-select-option>
          <ion-select-option value="ge">German</ion-select-option>
          <ion-select-option value="fr">French</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Appearance
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle [(ngModel)]="darkMode"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Camera Captures
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Save To Gallery</ion-label>
        <ion-toggle [(ngModel)]="saveToGallery"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Notification Settings
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Push Notifications</ion-label>
        <ion-toggle [(ngModel)]="pushNotifications"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Privacy Settings
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Share My Location</ion-label>
        <ion-toggle [(ngModel)]="shareLocation"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="secondary" (click)="logOut()">Log Out</ion-button>
</ion-content>