ion-content {
    --ion-background-color: #f5f5f5; 
}
.heading h1{
    text-align: center;
}
.person .ion-button{
    position: absolute;
    display: flex;
    align-items: center;
}
ion-item{
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}